*{
  padding: 0;
  margin: 0;
  box-sizing: bordex-box;
  font-family: 'Candara';
  text-align: justify;
}

body{
  background-color: #212121;
}

.parallax-container{
  height: 20rem;
  margin-bottom: 1.7rem;
  margin-top: 0.7rem;
}

.car_especial{
  height: 35rem;
}

.img_parallax{
  width: 100%; 
}

.responsive-img{
  padding: 0; 
  margin: 0;
}

.card-panel{
  margin: 0;
}

.p_favorite_icon{
  background-color: #212121;
  text-align: center;
}

.favorite_icon{
  color: #f5f5f5;
  background-color: #212121;
  text-align: center; text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1.2rem;
  font-size: 1rem;
}

.title{
  text-align: center;
  font-size: 2rem;
  font-family: 'Candara';
  color: #f5f5f5;
  background-color: #212121;
  margin: 0;
  margin-bottom: 1.2rem;
}

.subtitle{
  font-size: 1.7rem;
  color: #f5f5f5;
  background-color: #212121;
  font-weight: 700;
  margin: 1rem;
  margin-top: 2rem;
  text-align: center;
}

.text{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
  color: #f5f5f5;
  background-color: #212121;
  margin: 0;
}

.last_text{
  margin-bottom: 3rem;
}

.topico{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.flower_icon{
  color: #f5f5f5;
  background-color: #212121;
  font-size: 1.4rem;
  vertical-align: middle;
} 

#carousel-item {
  width: 80%;
  padding: 0;
  margin: 0;
}

.carousel{
  padding: 0rem;
  margin: 0;
  height: 15rem;
}

.grid_imagem{
  padding: 0rem;
  margin: 0;
}

.last_icon{
  padding-top: 1rem;
}

.div_signature{
  margin: 2rem 5rem;
  padding: .4rem .4rem;
  border: .01rem solid white;
}

.signature{
  color: #f5f5f5;
  background-color: #212121;
  font-size: 1.4rem;
  text-align: center;
  margin: 0rem;
  margin-top: 0rem;
}

.ps{
  color: #f5f5f5;
  background-color: #212121;
  font-size: 1rem;
  text-align: middle;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}