body {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    background-color: black;
}

/* HEADER */
header {
    display: grid;

}

#texto_header{
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
}

#p_header{
    font-size: 4rem;
    font-family: 'Old English Text MT';
}

#imagem_header{
    grid-row: 1/4;
    grid-column: 1/4;
}

#img_header {
    max-width: 100%;
}



#logo {
    max-height: 100%;
}

h3 {
    font-size: 2rem;
    color: white;
    font-family: 'Candara';
}

#isa {
    margin: 0 2rem;
}
